*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Header */

.title {
    background: #ffffff;
    border: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    padding-top: 16px;
    padding-bottom: 16px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu {
    display: flex;
    align-items: center;
}

.title-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.tiny-name-logo {
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2e2f42;
}

.title-list {
    display: none;
}

.address-list {
    display: none;
}

.menu-open-btn {
    cursor: pointer;
    font-family: inherit;
    display: block;
    border: none;
    background-color: #ffffff;
    padding-right: 16px;
    margin-left: auto;
    justify-content: space-between;
}

.icon-burger {
    fill: #2f2f37;
}

/* Mobile menu */

.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 4px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    stroke-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-mobile {
    padding-left: 9px;
}

.title-list-mob {
    margin-bottom: 24px;
}

.item-mob-menu:not(:last-child) {
    margin-bottom: 40px;
}

.nav-link-mob {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-mob-list {
    
}

.address-menu-item-mob:not(:last-child) {
    padding-bottom: 24px;
}

.address-menu-link-mob {
    color: #434455;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.soc-list-mob {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.soc-item-mob {
    width: 40px;
    height: 40px;
}

/* Mobile modal */

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-mob {
    position: absolute;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-mob {
    position: absolute;
    border-radius: 4px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-mob {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-field-mob {
    margin-bottom: 8px;
}

.modal-label-mob {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.modal-input-mob {
    width: 256px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap-mob {
    position: relative;
}

.field-comment-mob {
    margin-bottom: 16px;
}

.modal-text-mob {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 16px;
    opacity: 0.5;
}

.checkbox-mob {
    margin-bottom: 24px;
}

.check-text-mob {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.check-fake-mob {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    fill: transparent;
    flex-shrink: 0;
}

.check-text-mob .check-fake-mob {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
}

.text-policy {
    color: #4d5ae5;
}

.half-check-text-mob {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.send-btn-mob {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: inherit;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main */

.main {
}

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2dppx) , 
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-mob-2x.jpg");
    }
}

.hero-title {  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    font-family: inherit;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

/* Features */

.section-one {

}

.features-list-icon {
    display: none;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
    width: 100%;
}

.features-name {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */

.section-two {
    background-color: #f4f4fd;
}

.subtitle-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-image {
    background-color: #ffffff;
    display: block;
}

.team-name {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.manager {
    text-align: center;
    padding: 32px 0;
}

.specialist {
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    fill: #fff;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.soc-icon {
    fill: #f4f4fd;
}

/* Portfolio */

.section-three {
}

.subtitle-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-text-overlay {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    padding: 40px 32px 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-image {

}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.paragraph-two {

}

.portfolio-frame {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

@media screen and (max-width: 1157px) {
    .container-logo {
        margin-bottom: 72px;
    }
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.footer-logo-tiny {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.paragraph-footer {    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

@media screen and (max-width: 767px) {
    .footer-soc-media {
        margin-bottom: 72px;
    }
}

.footer-soc-media {
    text-align: center;
    padding-left: 40px;
}

.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.soc-list-item {
    width: 40px;
    height: 40px;
}

.item-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    fill: #fff;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.name-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}


.footer-subscribe {

}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.3;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    cursor: pointer;
}

.sub-btn:focus {
    background-color: #404BBF;
}

.fly-icon {
    margin-left: 16px;
}

/* Modal window */

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    border-radius: 4px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-close {
    fill: #ffffff;
}

.modal-close-btn:focus .icon-close {
    fill: #ffffff;
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-field-icon {
    fill: #4d5ae5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.modal-input-wrap {
    position: relative;
}

.modal-field {
    margin-bottom: 8px;
}

.field-comment {
    margin-bottom: 16px;
}

.checkbox {
    margin-bottom: 24px;
}

.modal-field-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 16px;
}

.modal-text:focus {
    border-color: #4d5ae5;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
}

.half-check-text {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text-policy {
    color: #4d5ae5;
}

.check-fake {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    fill: transparent;
}

.check-text .check-fake {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
}

.modal-check:checked+.check-text .check-fake {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.check-mark {}

.send-btn {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: inherit;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:focus {
    background-color: #404bbf;
}




/* Media Tablet */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .title {
        padding-top: 0;
        padding-bottom: 0;
    }

    .title-logo {
        margin-right: 120px;
    }

    .title-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address-menu {
        font-style: normal;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-menu-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-open-btn {
        display: none;
    }

    .hero {
        padding: 112px 0;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office-tab.jpg");
        max-width: 768px;
        }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
                to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
                ),
            url("../images/people-office-tab-2x.jpg");
        }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        }

    .features-list-icon {
        display: none;
    }

    .features-list {
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-name {
        text-align: left;

    }

    @media screen and (max-width: 1157px) {
        .container-nero {
            width: 584px;
        }
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list{
        gap: 72px 24px;
    }

    @media screen and (max-width: 1157px) {
        .footer-container {
            width: 584px;
            justify-content: flex-start;
        }
    }

    .footer-logo {
        text-align: left;
    }

    .paragraph-footer {
        max-width: 264px;
    }

    .footer-soc-media {
        padding-left: 24px;
    }

    .footer-soc-title {
        text-align: left;
    }

    .name-sub {
        text-align: left;
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-input::placeholder {
        opacity: 0.6;
    }

}



/* Media Desktop */

@media screen and (min-width: 1158px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .title-logo {
        margin-right: 76px;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .nav-link:focus {
        color: #404BBF;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-menu-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-menu-link:hover,
    .address-menu-link:focus {
        color: #404BBF;
    }

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office-desk.jpg");
        max-width: 1440px;
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
                to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
                ),
            url("../images/people-office-desk-2x.jpg");
        }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        }

    .hero-btn:hover,
    .hero-btn:focus {
        background-color: #404BBF;
        }

    .features-list-icon {
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
    }

    .features-icon {
        display: flex;
    }

    .features-list {
        gap: 24px;
    }
        
    .features-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .text {
        font-weight: 400;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .soc-item-link:hover,
    .soc-item-link:focus {
        background-color: #404BBF;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .portfolio-text-overlay {
        transform: translateY(0);
    }

    .footer {
        background-color: #2e2f42;
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .container-logo {
        margin-right: 120px;
    }

    .footer-soc-list {
        display: flex;
        gap: 16px;
    }

    .item-link-footer:hover,
    .item-link-footer:focus {
        background-color: #31D0AA;
    }

    .subscribe-box {
        margin-left: 80px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-input {
        opacity: 1;
    }

    .subscribe-input::placeholder {
        opacity: 1;
    }


}



